[user]
	email = 30350506+SoPat712@users.noreply.github.com
	name = Josh Patra
	signingkey = 34E3C1465C60BF2DDDD994A819FDD4F401823AE1
[diff]
	tool = nvimdiff
[core]
	editor = nvim
	pager = delta
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[http]
	postBuffer = 524288000
[pull]
	rebase = false
